.preloader {
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  transition: opacity 0.2s, visibility 0.2s, margin-top 0s 0.2s;
}

.loading {
  margin-left: 10px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #616a79;
  animation: loading 3s linear forwards;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#preloader {
  width: 100px;
}

#background {
  stroke-width: 50px;
  stroke: #00a76d;
  animation: back 5s linear forwards;
  stroke-dasharray: 0;
}

@keyframes back {
  from {
    stroke-width: 0px;
    stroke-dasharray: 00;
  }
  to {
    stroke: #00a76d;
    stroke-dasharray: 10000;
    transition: opacity 0.2s, visibility 0.2s, margin-top 0s 0.2s;
  }
}

#stroke {
  opacity: 0;
  animation: stroke 1s;
  animation-delay: 3s;
}

#text {
  animation: text 4s linear forwards;
}

@keyframes text {
  from {
    fill: transparent;
  }
  to {
    fill: #00a76d;
  }
}
