.LeftOverlay {
  position: absolute;
  width: fit-content;
  left: 30px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 100%;
  width: 1px;
  background-color: rgb(129, 129, 129);
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.socialIcons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.socialIcons .github:hover {
  filter: invert(61%) sepia(84%) saturate(2355%) hue-rotate(136deg) brightness(95%) contrast(101%);
}
.socialIcons .linkedin:hover {
  filter: invert(61%) sepia(84%) saturate(2355%) hue-rotate(136deg) brightness(95%) contrast(101%);
}
.socialIcons .facebook:hover {
  filter: invert(61%) sepia(84%) saturate(2355%) hue-rotate(136deg) brightness(95%) contrast(101%);
}

@media only screen and (max-width: 600px) {
  .LeftOverlay {
    width: 100%;
    height: fit-content;
    left: 0;
    bottom: 15px;
  }

  .line {
    height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .socialIcons {
    flex-direction: row;
    gap: 40px;
  }
}
