@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #00cf5d;
  --darknevy: #0a192f;
  --lightest-navy: #233554;
  --light-navy: #112240;
}

* {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a192f;
}
p {
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary);
}

/* Display Items */
.grid {
  display: grid;
}

.grid-2-2 {
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
}

.spaceBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}

/* Margins and Paddings */
.padding-5 {
  padding: 5rem;
}

section {
  min-height: 100vh;
}

.centerInParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Button */
button {
  padding: 1rem 2.3rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}

button::after {
  content: "";
  height: 120%;
  width: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  border: none;
  outline: none;
  background-color: var(--primary);
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.3s ease-out;
}

button:hover:after {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 0;
  mix-blend-mode: hue;
  /* background: rgba(0, 0, 0, 0.15); */
  clip-path: circle(100% at 0% 0%);
}

.textCenter {
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 35px;
  /* text-align: center; */
  margin-bottom: 20px;
  color: #ccd6f6;
  /* text-align: center; */
}

.paragraph {
  font-size: 20px;
  line-height: 26px;
  color: #8892b0;
  margin: 1rem auto;
}
