.aboutme-section {
  padding: 2rem;
}
.about-row {
  position: relative;
}
.about-image {
  position: relative;
  cursor: pointer;
  margin-left: 3rem;
}
.about-image img {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 3px;
}

.about-image .imageBorder {
  width: 300px;
  height: 300px;
  border: 2px solid var(--primary);
  position: relative;
  left: 20px;
  top: 30px;
  z-index: -1;
  border-radius: 3px;
  transition: left 0.3s ease, top 0.3s ease;
}

.about-image img:hover ~ .imageBorder {
  left: 10px;
  top: 20px;
}

.about-row {
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  padding-left: 3rem;
}

.about-info {
  padding-left: 5rem;
}

.about-info p {
  margin-top: 1rem;
  line-height: 1.9;
  text-align: justify;
  color: rgb(219, 219, 219);
}

/* .about-info button {
  padding: 1rem 2.3rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.about-info button::after {
  content: "";
  height: 120%;
  width: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  border: none;
  outline: none;
  background-color: var(--primary);
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.3s ease-out;
}

.about-info button:hover:after {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 0;
  mix-blend-mode: hue;
 background: rgba(0, 0, 0, 0.15); 
  clip-path: circle(100% at 0% 0%);
} */
