/* Add these styles to your existing globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cc5200 rgb(var(--background-start-rgb));
  cursor: none;
}

div::selection {
  background-color: #cc52007f;
  border: 2px solid #ffd700;
  padding: 1px 1px;
  text-shadow: white;
  color: #fff;
}

::-moz-selection {
  border: 2px solid #ffd700;
  background: rgba(50, 50, 50, 0.9);
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  cursor: "none";
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .slick-border {
    @apply border border-[#171919] rounded-lg min-h-20 p-8;
  }
}

.prose-invert code {
  @apply border border-white/10 px-2 py-1 rounded-md text-primary;
}

pre {
  @apply border border-white/10 rounded-lg p-4 !bg-gray-950/50;
}

pre code {
  @apply border-none !text-gray-200;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  color: var(--trinary);
  cursor: text;
}

.text-insights-area {
  overflow-y: auto;
  max-height: 500px;
}

.text-insights-area::-webkit-scrollbar {
  width: 8px;
}

.text-insights-area::-webkit-scrollbar-track {
  background: #171919;
  border-radius: 4px;
}

.text-insights-area::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.text-insights-area::-webkit-scrollbar-thumb:hover {
  background: #ff6600;
}
