header {
  height: 100vh;
  background-image: url("../../image/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.introText {
  width: 580px;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translateY(-50%) translateX(-50%);
}
.introText .introDescription {
  text-align: right;
  margin-right: 4rem;
  margin-top: 0;
  color: #c9c9c9;
}

.introText .introTopText {
  margin-bottom: -10px;
  text-transform: uppercase;
}

header .introText h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
}

/* Responsiveness */
@media only screen and (max-width: 500px) {
  header {
    background-position: center;
    background-position-x: 70%;
  }
  .introText {
    width: 100%;
    left: 0;
    transform: translateY(0%) translateX(0%);
    text-align: center;
    bottom: 40%;
  }

  .introText .introTopText {
    font-size: 1.4rem;
  }

  header .introText h1 {
    font-size: 3rem;
  }
  header .introText .introDescription {
    text-align: center;
    margin: 0;
    padding: 0.5rem 1rem;
  }
}
