@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Utilities */
  * {
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    @apply scroll-smooth snap-mandatory;
  }

  span {
    @apply text-portfolio-blue;
  }

  p {
    @apply font-normal text-portfolio-text lg:text-base text-center leading-6;
    font-family: "Roboto";
  }
  nav {
    @apply w-full bg-slate-900 border-b border-b-[#ffffff0d];
  }
  .btn {
    @apply block text-center py-3 md:px-10 rounded-md my-5 hover:translate-y-1 active:opacity-90 active:scale-95 active:ring-2 active:ring-[#3D96FE] shadow-sm active:shadow-md;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-[#3D96FE] to-[#4f3dfe] text-white;
  }

  .wrapper {
    @apply w-full bg-slate-900 py-20;
    /* @apply w-full px-4 md:px-8 2xl:px-48 py-16 bg-slate-900; */
  }

  .container {
    @apply sm:max-w-4xl xl:max-w-7xl mx-auto space-y-14 px-4 md:px-6 lg:px-0;
  }

  .section-header {
    @apply text-4xl text-center font-bold py-2 pb-4 text-slate-800;
  }

  .gradient-primary {
    @apply bg-gradient-to-br from-[#3D96FE] to-[#4f3dfe]
    /* background-image: linear-gradient(160deg, #923dfe 0%, #4f3dfe 60%); */;
  }
  .font-rubik {
    font-family: "Rubik", sans-serif !important;
  }

  /* Utilities End */

  /* Hero Section Start*/
  nav ul a {
    @apply px-3 py-2 text-sm text-gray-400 hover:text-gray-500 transition hidden md:block;
  }

  .hero {
    @apply md:flex md:flex-nowrap md:flex-row-reverse;
  }

  .hero-content {
    @apply my-5 px-4 md:flex md:flex-col md:items-start md:justify-center space-y-5 flex-1;
  }

  .hero-content h4 {
    @apply font-rubik text-white font-extrabold text-3xl uppercase text-center;
  }
  .hero-content h1 {
    @apply font-rubik text-transparent bg-gradient-to-br from-[#cc3dfe] to-[#1380ff] bg-clip-text font-extrabold text-4xl md:text-5xl lg:text-6xl uppercase text-center;
  }

  .hero-content p {
    @apply lg:pr-10 md:text-left my-2;
  }

  /* Hero Section End*/

  /* Project Section Start */

  .projects h3 {
    @apply uppercase text-slate-500 text-center tracking-widest;
  }

  .projects > div > h1 {
    @apply section-header !text-slate-100;
  }

  .projects-grid {
    @apply flex flex-wrap gap-10 items-start justify-center;
  }

  .projects-grid .project-card {
    @apply p-4 md:p-5 rounded-lg bg-slate-800 max-w-[400px] self-stretch;
  }

  .projects-grid .project-card .card-img {
    @apply rounded-md md:w-full object-cover  shadow-md;
  }

  .projects-grid .project-card .content {
    @apply lg:w-full self-center;
  }

  .projects-grid .project-card h1 {
    @apply text-2xl font-bold py-4 text-slate-50;
  }

  .projects-grid .project-card p {
    @apply text-left text-base text-slate-200 line-clamp-3;
  }

  .projects-grid .project-card .stacks {
    @apply flex flex-wrap my-4 font-medium text-gray-800;
  }

  .projects-grid .project-card .stacks .item {
    @apply flex items-center space-x-1 bg-slate-700 px-4 py-1 rounded-full text-slate-100 shadow-md mr-2;
  }

  .projects-grid .project-card .stacks .item img {
    @apply w-5 h-5;
  }

  .projects-grid .project-card .buttons {
    @apply flex mt-8 space-x-2;
  }

  .projects-grid .project-card .buttons a {
    @apply w-full rounded-lg text-white shadow-md !my-2;
  }
  .projects-grid .project-card .buttons a:last-child {
    @apply bg-portfolio-red;
  }

  /* Project Section end */

  /* What I Do section */
  .whatIdo {
    background-image: linear-gradient(320deg, #ffefef 0%, #f7ffe4 100%);
  }

  .whatIdo-header {
    @apply text-4xl text-center font-extrabold;
  }

  .whatIdo-grid {
    @apply justify-center my-10 grid gap-5 md:grid-cols-2 lg:grid-cols-4;
  }

  .whatIdo-grid--card {
    @apply py-8 px-4 text-center bg-white rounded-lg shadow-sm max-w-xs lg:w-full hover:scale-105 transition-transform cursor-pointer hover:shadow-sm;
  }

  .whatIdo--card-img {
    @apply w-20 lg:w-20 aspect-square mx-auto my-3;
  }

  .whatIdo--card-title {
    @apply text-xl text-slate-800 font-bold;
  }

  .whatIdo--card-paragraph {
    @apply mt-2 text-sm text-slate-600;
  }

  /* My Stack Section */
  .stackContainer {
    background-image: linear-gradient(100deg, #fff9df 0%, #ecfff0 75%);
  }

  /* Footer */
  footer ul li,
  footer ul a {
    @apply text-slate-400 text-sm my-2;
  }
}
