/* Projects Main Mage */
.Projectstitle {
  text-align: center;
  margin-bottom: 4rem;
}

.Projectstitle h1 {
  font-weight: 600;
  font-size: 2rem;
}

/* Projects Card Style */

.portfolioImage {
  /* width: 760px;
  height: 451px; */
  width: 100%;
}

.singleProjects {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.Projectsthumb {
  width: 60%;

  margin-left: 3rem;
}

.Projectsinfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 4rem;
}

.Projectsinfo h1 {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.Projectsinfo h1:hover {
  color: var(--primary);
}

.Projectsinfo .Projectsdescription {
  background-image: linear-gradient(to left, var(--lightest-navy), hsla(219, 41%, 23%, 0.925));
  width: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
}

.Projectsinfo .Projectsdescription p {
  margin: 0;
  color: rgb(168, 178, 209);
  font-size: 17px;
  line-height: 22px;
  text-align: justify;
}

.Projectstechnologies {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.Projectstechnologies li {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #8892b0;
  position: relative;
}

.Projectstechnologies li::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--primary);
  border-radius: 100%;
  top: 50%;
  left: 100%;
  margin-left: 3px;
  transform: translateY(-50%);
}

.Projectstechnologies li:nth-last-child(1)::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}
.Projectslinks img {
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
}
